$_10: 10px;

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: var(--app-bar-bg-color);

    .navbar {
        padding-left: $_10;
        display: flex;
        align-items: center;

        &.app {
            background-color: var(--board-bg-color);
        }
        &.board {
            background-color: var(--app-bar-bg-color);
        }
    }
    .board-cols {
        display: flex;
        // align-items: flex-start;
        // justify-content: start;
        overflow-x: auto;
        .col {
            flex: 0 0 auto;
            width: 30rem;
            height: calc(100%);
            margin-right: 1rem;
            > * {
                background-color: #ebecf0;
                color: #333;
                padding: 0 1rem;
            }
            header {
                padding: 1.5rem;
                height: 3.6rem;
                line-height: 2rem;
                font-size: 2rem;
                font-weight: bold;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            footer {
                padding-left: 1.5rem;
                height: 3.6rem;
                line-height: 2rem;
                font-size: 2rem;
                font-weight: bold;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            ul {
                margin: 0;
                max-height: calc(100% - 7.2rem);
                overflow-y: auto;
            }
            li {
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0px 1px 1px rgba(#000000, 0.1);
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
            span {
                display: inline-block;
                padding: 1rem;
            }
        }
        .image {
            height: 30rem;
            object-fit: cover;
        }
    }
}
